<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <tr>
    <%Level.all.each do |x|%>
            <p>level: <a href=<%='/levels/show/' + x.id%>><%=x.id%></a></p>
    <%end%>
    <tr>
  </body>
</html>