<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ruby dangeon</title></head>
<body>
  <header class="disable">
  </header>
  </section>
  <section class="fields">
    <article class="container" id="level-field">
    </article>
    <article class="container" id="chest-field">
    </article>
  </section>
</body>
<%= javascript_pack_tag 'main' %>
</html>
